*{
  font-family: 'Roboto', sans-serif;
  font-weight: 20;

}

.landing{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image:url(img/landing.jpg);

}

  #title{
    display: inline;
  }

  .heading img{
    position: absolute;
    margin-top: 11px;
    margin-left: 10px;
  }

.heading{
  line-height: 20px;
  padding-top: 2px;
  color: lightgrey;
}

.heading h1{
  position: absolute;
  top: 5px;
  left: 30px;
  text-transform: uppercase;
  color:cyan;
}

.heading h4{
  position: absolute;
  top: 7%;
  left: 1%;
}

.line-1{
    color: lightgray;
    position: relative;
    top: 40%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid orange;
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 13em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: cyan;}
    to{border-right-color: transparent;}
  }

  .intro h2{
    padding-top: 50%;
    color: lightcyan;
  }

  #intro{
    position: absolute;
    top: 27%;
    text-align: center;
    height: 450px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  #intro:hover{
    opacity: .8;
  }

  #intro:hover h2{
    padding-top: 15%;
    color: cyan;
  }

  #intro:hover h4{
    padding-top: 20%;
    margin: 10px 20px 10px 20px;
    color: lightcyan;
  }

  .about{
    left: 7%;
  }

  .projects{
    left: 37%;
  }

  .social{
    left: 67%;
  }
