*{
  font-family: 'Roboto', sans-serif;
  font-weight: 20;

}

.landingOverlay{
  background-color: rgba(0, 0, 0, 0.8);
}

.landing{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image:url(img/landing.jpg);

}

.heading{
  line-height: 20px;
  padding-top: 2px;
  color: lightgrey;
}

.heading h1{
  text-transform: uppercase;
  color:cyan;
}

.line-1{
    color: lightgray;
    position: relative;
    top: 40%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid orange;
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 13em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: cyan;}
    to{border-right-color: transparent;}
  }

  .intro h2{
    padding-top: 10%;
    color: lightcyan;
  }

  #intro{
    position: absolute;
    top: 30%;
    text-align: center;
    height: 450px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .about{
    left: 7%;
  }
  .projects{
    left: 37%;
  }
  .social{
    left: 67%;
  }
